  <ion-header>
    <ion-toolbar>
      <ion-button expand = "block" (click) = "goToTab1()">Startmenü</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let field of fields" (click)="onFieldClicked(field)">
          <ion-card>
            <ion-card-header>
              Field {{field}}
            </ion-card-header>
            <ion-card-content>
              This is field {{field}}.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
