<ion-content [fullscreen] = "true" style = "--background: url('../../assets/icon/hnt.jpg') no-repeat center center / cover">
    <ion-button expand = "block" (click) = "goToTab1()">Startmenü</ion-button>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let field of fields" (click)="onFieldClicked(field)">
          <ion-card>
            <ion-card-header>
              Field {{field}}
            </ion-card-header>
            <ion-card-content>
              This is field {{field}}.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
