ion-button {

  color: white;
  display: block;
  width: 100%;
}
ion-item {
  cursor: pointer;
}
.imageWrapper{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.quiz-title {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}










