ion-button {
  --background: transparent;
  color: beige;
  display: block;
  width: 100%;
}

ion-button:first-of-type {
  --background: transparent;
  color: beige;
  display: block;
  width: 100%;
  margin-top: 70px;
}



