<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      4AHITN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button expand = "block" (click) = "goToTab1()">Startmenü</ion-button>

  <ion-list>
    <ion-item *ngFor="let student of students">
      <a [routerLink]="['', 'student-detail', student.id]">
        <img src="{{ student.imageUrl }}" style="width: 100px; height: 100px;" class="zoom-out" />
      </a>
    </ion-item>
</ion-list>



</ion-content>
