<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let student of students">
      <a [routerLink]="['student.id']">
        <img src="{{ student.imageUrl }}" />{{ student.surname }}

      </a>
      <div *ngIf="student.id">
        <h2>{{ student.surname }}</h2>
        <p>Name: {{ student.name }}</p>
        <p>Unterricht: {{ student.course }}</p>
      </div>

  </ion-item>
</ion-list>


</ion-content>
