<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <button routerLink="/tab1">Tab 1</button>
  <button routerLink="/tab2">Tab 2</button>
</div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor = "let student of students; let i = index" >
      <a [routerLink] = "[''+student.id]">
        <img src ='{{student.imageUrl}}' />{{student.surname}}
      </a>
   {{student.surname}}
  </ion-item>
</ion-list>

</ion-content>
