ion-button {
  --background: transparent;
  color: black;
  display: block;
  width: 100%;
}

.ion-label {
  font-weight: bold;
}

.custom1 {
  padding: 16px; /* Beispiel für das Padding */
  background-color: #fce2bb; /* Beispiel für die Hintergrundfarbe */
}
.custom2 {
  padding: 16px; /* Beispiel für das Padding */
  background-color: navajowhite; /* Beispiel für die Hintergrundfarbe */

}
.ion-color-warning{
  background-color: #ffeeba;
}


